<html>
    <head>
        REGISTER
    </head>
    <body>
        <form action="" method="">
            <p>Nombres: <input type="text"></p>
            <p>Apellidos: <input type="text"></p>
            <p>Fecha de Nacimiento: <input type="date"></p>
            <p>Usuario: <input type="text"> </p>
            <p>Contraseña: <input type="password"></p>
            <label for="rol">Rol:</label>
            <select id="rol">
                <option value="">A</option>
                <option value="">B</option>
                <option value="">C</option>
            </select>
            <input type="radio" id="masculino" name="gender" value="masculino">
                <label for="masculino">Masculino</label><br>
                <input type="radio" id="femenino" name="gender" value="femenino">
                <label for="femenino">Femenino</label><br>
                <input type="radio" id="otro" name="gender" value="otro">
                <label for="otro">Otro</label>
            <p></p>
        </form>
    </body>
</html>

