<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link type="text/css" rel="stylesheet" href="login.component.css">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="col-md-6 offset-md-3 mt-4 signin-screen">
            <div class="space-bot text-center">
                <h1>Iniciar Sesion</h1>
            </div>
            <form>
                <div class="form-group">
                  <label for="loginUsername">Usuario</label>
                  <input type="text" 
                         class="form-control"
                         id="loginUsername" 
                         placeholder="Ingrese Usuario">
                </div>
                <div class="form-group">
                  <label for="loginPass">Contraseña</label>
                  <input type="password"
                         class="form-control"
                         id="loginPass"
                         placeholder="Password">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
                </div>
                <button type="submit" class="btn btn-primary">Ingresar  <i class="fas fa-sign-in-alt"></i></button>
              </form>
        </div>
    </div>    
</body>
</html>
