<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>login</h3>
        <form>
            <div class="form-group">
              <label for="loginUsername">Usuario</label>
              <input type="text" 
                     class="form-control"
                     id="loginUsername" 
                     placeholder="Ingrese Usuario">
            </div>
            <div class="form-group">
              <label for="loginPass">Contraseña</label>
              <input type="password"
                     class="form-control"
                     id="loginPass"
                     placeholder="Password">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </form>
    </div>
</div>
